<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sslab.samplegroupapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".samples.ThreadMessageQueueSample" />
        <activity android:name=".samples.Sample02Activity" />
        <activity android:name=".samples.CustomTextViewActivity" />
        <activity android:name=".samples.GridViewSample" />
        <activity android:name=".samples.MultiLineTextListViewActivity" />
        <activity android:name=".samples.ProgramaticallySettingLayoutHeightActivity" />
        <activity android:name=".samples.ScrollViewInsideListViewAcitivity" />
        <activity android:name=".samples.ExpandableListViewSampleActivity" />

        <receiver
            android:name=".receiver.ErrorReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.DataRemovedReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".samples.DisplayBitmapActivity" />
        <activity android:name=".samples.BitmapSamplesActivity" />
        <activity android:name=".bitmaps.BitmapAsynchTaskActivity" />
        <activity android:name=".samples.SwipeRefreshBottomLayoutActivity" />
        <activity android:name=".samples.AcvImgExplorer" />
        <activity android:name=".samples.SampleUpdatedActivity" />
        <activity android:name=".samples.FocusingSampleActivity" />
        <activity
            android:name=".testActivity.AndroidTestActivity"
            android:label="@string/title_activity_android_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".samples.FocusingLinearActivity" />
        <activity android:name=".samples.URLConnectionSampleActivity" />
        <activity android:name=".samples.NetWorkDemoActivity" />
        <activity android:name=".samples.DialogSamplesActivity" />
        <activity android:name=".samples.FrameAnimationActivity" />
        <activity android:name=".samples.AnimationActivity"></activity>
    </application>

</manifest>